.botao-whats {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #25d366;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top: 1px solid #ddd;
}

.icone-whats {
  font-size: 20px;
}