.capa-wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 14px 14px 0 0;
  overflow: hidden;
}

.capa-fundo {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #aaa; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img-capa {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; 
}

.capa-fundo.com-imagem {
  background-color: transparent;
}

.texto-editar {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.edit-icon {
  cursor: pointer;
  padding: 6px;
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  background-color: black;
  border-radius: 8px;
}

.botoes-capa {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 999;
}

.botoes-capa button {
  background-color: #2e2e2e;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
