.botao-link-perfil {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #1179DB;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top: 1px solid #ddd;
}

.botao-link-perfil:hover {
  background-color: #333;
}

.icone-link {
  font-size: 18px;
}
