.perfil {
flex: 1;
background-color: white;
border-radius: 14px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
padding: 0;
padding-bottom: 16px;
overflow: visible;
min-width: 315px;
}

.caixa-botoes {
  padding-inline: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.caixa-botoes-menores {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.botao-pequeno {
  flex: 1;
}

.botao-cancelar {
  color: white;
  background-color: #BC0000;
}

.botao-salvar {
  color: white;
  background-color: #0A7F04;
}