.nome-loja {
  display: flex;
  justify-content: center;
}

.nome-loja h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.10px;
  color: #2b2b2b;
  text-align: center; /* centraliza o texto */
}

.input-nome {
  font-size: 20px;
  font-weight: 700;
  color: #2b2b2b;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
}
