.nome-loja {
  display: flex;
  justify-content: center;
}

.nome-loja h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.10px;
  color: #4c456f;
  text-align: center; 
}

.input-nome {
  font-size: 20px;
  font-weight: 700;
  color: #4c456f;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
}
